@page "/"

<PageTitle>Home</PageTitle>

<h1>Testando o Blazor</h1>

Welcome to your new app.

@code
{
    List<string> animalEmote = new List<string>()
    {
        "🍇","🍇",
        "🍉","🍉",
        "🍉","🍉",
        "🍒","🍒",
        "🍌","🍌",
        "🍓","🍓",
        "🥥","🥥",
        "🍍","🍍",
    };
}
